h1 {color:black;
font-size: 70px;
 
  text-align:center;
  

    
    }
#date{font-size: 25px;
  margin-left: 170px;
  margin-right: 170px;
  text-align:center;
  font-family:arial;
  }
#p1 {
  color:black;
  font-size: 30px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 40px;
}

#p2 {
  font-size: 25px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 40px;
}
#p3{
  font-size: 25px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 40px;
}
#p4{
  font-size: 25px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 40px;
}
#p5{
  font-size: 25px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 40px;
}
#p6{
  font-size: 25px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 40px;
}
#p7{
  font-size: 25px;
  margin-left: 250px;
  margin-right: 250px;
  line-height: 40px;
}

#pic {
  margin-left:250px;
  margin-right:250px;
  position: relative;
  top:200px;
}

#fig{
  font-family:arial;
}
.audio{
  display: flex;
  justify-content:center;
  align-items:center;
}

.topnav {
  overflow: hidden;
  background-color:#333; 
  text-align:center;
  
  padding:14px 16px;
  position:relative;
  margin-top:-150px;
}

.topnav a {
  float: center;
  color:#f2f2f2;
  padding: 50px;
  font-size:17px;
  text-decoration:none;
  font-family: arial;

}

.topnav a:hover {
  background-color:#ddd;
  color:black;
}
